@media #{$tablet}{
    #home{
        height:592.61px;
        .arrow{
            display:none;
           
        }
        .container-2{
            width:66.0156%;
            min-width:676px;
            top:50%;
            left:50%;
            transform: translate(-50%,-54%);
            .home-text-1{
                font-size:59px;
            }
            .home-text-2{
                font-size:72px;
                letter-spacing: -2px;
            }
            .home-text-3{
                font-size:19px;
                letter-spacing: -0.4px;
            }
            .read-more{
                margin-top:35px;
            }
        }
    }
}