@media #{$mobile}{
    #component-1{
        height:66.93px;
        .container-1{
            width:87.1875%;  
            min-width:279px;
            padding-top:15px;
            .logo{
                width:85.84px;
                height:38.49px;
            }
            .ul-1{
                display:none;
            }
            .menu{
                display:inline-block;
                background-color: $blue;
                margin-top:3px;
                color:white;
                width:48px;
                height:31px;
                font-size:21px;
                box-sizing: border-box;
                text-align: center;
                vertical-align: middle;
                outline:1px solid white;
                outline-offset: -3px;
                border:5px solid $blue;
            }
        }
    }
}