@media #{$tablet}{
    #portfolio{
        height:1017px;
        padding-top:67px;
        
        .container-5{
            width:60%;
            min-width:720px;
            margin:auto;
            grid-template-rows: 229px 229px;
            grid-template-columns: repeat(3,225px);
            grid-gap:21px;
            margin-top:55px;
            .grid-item-1, .grid-item-3, .grid-item-5{
                grid-column:span 1;
            }
            .grid-item-7{
                display: none;
            }
            .grid-item{
                .lower-div{
                    display:none;
                    width:100%;
                    height:57px;
                    background: $black;
                    position: absolute;
                    bottom:0;
                    text-align: center;
                    padding-top:18px;
                    box-sizing: border-box;
                    .portfolio-text-1{
                        @include fonts('Raleway');
                        font-weight:600;
                        font-size:12px;
                    }
                    .portfolio-text-2{
                       
                        font-style:italic;
                        font-size:10px;
                        color:$blue;
                        margin-top:8px;
                    }
                }
            }
        }
    }
}