@media #{$tablet}{
    h1{
        font-size:29px;
    }
    #services{
        height:1287px;
        padding-top:68.4px;
        .container-4{
            flex-direction: column;
            width:28.8085%;
            min-width:295px;
            height:1041px;
            margin:auto;
            .service{
                width:295px;
                height:307px;
                margin-top:60px;
                
            }
        }

    }
}